body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient( to right, rgb(55, 99, 105), rgb(248, 229, 229), rgb(55, 99, 105));
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    width: 320px;
    height: 550px;
    border-radius: 18px;
    margin: auto;
    margin-top: 40px;
    
}
.screen {
    background: rgb(125, 175, 49);
    width: 90%;
    height: 15%;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 2em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.calc-screen { 
    padding: 5px;
    word-wrap: break-word;
    word-break: break-all;
}
.keys {
    background-color: grey;
    height: 75%;
    width: 90%;
    margin-top: 20px;
    border-radius: 18px;
}
.inputkeys {
    padding: 10px;
    border-radius: 18px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
button {
    font-size: 1.4em;
    padding: 1em;
    border-radius: 8px;
    cursor: pointer;
    height: min-content;
}
.operators {
    background: orange;
    width: 65px;
}
.clear {
    background: teal;
    width: 50%;
}

button > * {
    pointer-events: none;
}
.remove {
    background: rgb(160, 27, 27);
    padding: 20px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
}